# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/

# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/